{% extends 'newsns/layout.html' %}

{% block title %}censored word list{% endblock %}

{% block header %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}
<h1>secret words</h1>

<form action="{% url 'newsns:secret_word_list' censored_word %}" method="post">
    {% csrf_token %}
    {{search_form.as_p}}
    <button>search</button>
</form>

<form action="{% url 'newsns:secret_word_list' censored_word %}" method="post">
    {% csrf_token %}
    {{register_form.as_p}}
    <button>search</button>
</form>

<p>
    {% for sw in secret_words %}
        <hr/>
        {{sw}}<br/>
    {% endfor %}
</p>
{% endblock %}
